:root {
    /* Primary */
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    /* Accent */
    --accent-blue: hsl(248, 32%, 49%);
    /* Neutral */
    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
}

html, body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 100%;
    width: fit-content;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--primary-red);
}


.copy {
    color: white;
    text-align: center;
    margin-top: 40px;
}

p {
    line-height: 1.5em;
}

.offer {
    background-color: var(--accent-blue);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 60px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 6px 0 0 hsl(0deg 0% 0% / 20%);
}

.offer>span {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    gap: 1em;
    text-align: center;
    box-shadow: 0 8px 0 0 hsl(0deg 0% 0% / 20%);
}

.input-container>.inline-input>i.alert-icon {
    color: red;
    display: none;
}

small.alert {
    color: red;
    display: none;
}

.input-container:has(input:invalid)>small {
    display: block;
}

.input-container:has(input:invalid)>.inline-input>i.alert-icon {
    display: block;
}


input {
    padding: 15px;
    border: 1px solid lightgray;
    border: none;
    border-radius: 100px;
    color: gray;
    font-weight: 800;
}

input:focus-visible {
    outline: none;
}

.inline-input {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding-left: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
}


::placeholder {
    font-weight: 800;
    opacity: 0.5;
}

.inline-input:has(input:invalid) {
    border: 1px solid red;
}



button {
    font-size: 1em;
    background-color: var(--primary-green);
    color: white;
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 hsl(154deg 54% 45%);
    cursor: pointer;
}

small.terms {
    font-size: small;
    padding: 10px;
    color: var(--neutral-grayish-blue);
}

small.terms a {
    text-decoration: none;
    color: var(--primary-red);
    font-weight: 500;
}

footer {
    margin-top: 10px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
    text-decoration: none;
}

.show {
    display: block !important;
}

/* - Mobile: 375px
- Desktop: 1440px */


@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 2.5em;
        line-height: 1.2em;
    }

    main {
        background-image: url(./images/bg-intro-desktop.png);
        padding: 0;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;

    }

    .copy {
        text-align: left;
        width: 40%;
    }

    p {
        padding-right: 4em;
        font-size: .8rem;
    }

    form {
        padding: 40px 40px 20px 40px;
    }

    small.terms {
        font-size: .65em;
    }

    footer {
        margin: 0;
        position: absolute;
        bottom: 0;
        align-self: center;
    }

}